<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/modules/bootstrap/css/bootstrap.css}" />
<script type="text/javascript" th:src="@{/modules/jquery/jquery-3.3.1.js}"></script>
<script type="text/javascript" th:src="@{/modules/bootstrap/js/bootstrap.js}"></script>
<title>Season</title>
</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading"> <h3 class="panel-title">Season</h3> </div>
			<div class="panel-body">
				<form th:object="${season}" th:action="@{/admin/season/create(tvShowId=${season.tvShow.id})}" method="post">
				  <div class="form-group row">
				    <label for="name" class="col-sm-2 col-form-label">Name</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="name" placeholder="Name" th:field="*{name}" required="true"/>
				    </div>
				  </div>
				  <input type="hidden" th:field="*{tvShow}" />
				  <input type="hidden" th:field="*{id}" />
				  <input type="submit" class="btn btn-primary" value="Create" th:if="*{id} == 0"/>
				  <input type="submit" class="btn btn-primary" value="Update" th:if="*{id} != 0"/>
				 </form>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>