<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="accountService" class="cs544.exercise5_3.bank.service.AccountService">
		<property name="accountDAO" ref="accountDAO"></property>
		<property name="currencyConverter" ref="currencyConverter"></property>
		<property name="jmsSender" ref="jmsSender"></property>
		<property name="logger" ref="logger"></property>
	</bean>
	
	<bean id="currencyConverter" class="cs544.exercise5_3.bank.service.CurrencyConverter"></bean>
	<bean id="jmsSender" class="cs544.exercise5_3.bank.jms.JMSSender"></bean>
	<bean id="logger" class="cs544.exercise5_3.bank.logging.Logger"></bean>
	<bean id="accountDAO" class="cs544.exercise5_3.bank.dao.AccountDAO"></bean>
	
</beans>
