<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/modules/bootstrap/css/bootstrap.css}" />
<script type="text/javascript" th:src="@{/modules/jquery/jquery-3.3.1.js}"></script>
<script type="text/javascript" th:src="@{/modules/bootstrap/js/bootstrap.js}"></script>
<title>Episode</title>
</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading"> <h3 class="panel-title">Episode</h3> </div>
			<div class="panel-body">
				<form th:object="${episode}" th:action="@{/admin/episode/create(seasonId=${episode.season.id})}" method="post">
				  <div class="form-group row">
				    <label for="name" class="col-sm-2 col-form-label">Name</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="name" placeholder="Name" th:field="*{name}" required="true"/>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="type" class="col-sm-2 col-form-label">Description</label>
				    <div class="col-sm-10">
				    	<textarea rows="5" class="form-control" th:field="*{description}" required="true">
				    	  </textarea>
				    </div>
				  </div>
				  <input type="hidden" th:field="*{season}" />
				  <input type="hidden" th:field="*{id}" />
				  <input type="submit" class="btn btn-primary" value="Create" th:if="*{id} == 0"/>
				  <input type="submit" class="btn btn-primary" value="Update" th:if="*{id} != 0"/>
				 </form>
			</div>
		</div>
		<div class="panel panel-default" th:if="${characters != null}">
			<div class="panel-heading"> <h3 class="panel-title">Characters</h3> </div>
			<div class="panel-body">
			  <table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">Name</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="character : ${characters}">
				      <td class="col-md-11" scope="row">
				      	<a th:href="@{/admin/character/create(id=${character.id})}" th:text="${character.name}"></a>
				      </td>
				      <td class="col-md-1">
				      	<form method="post" th:action="@{'/admin/character/delete/'+${character.id}}">
				      		<input type="submit" class="btn btn-danger" value="Delete"/>
				      	</form>
				      </td>
				    </tr>
				  </tbody>
				</table>
			</div>
			<div class="panel-footer">
				<form th:action="@{/admin/character/create}" method="get">
					<input type="hidden" name="episodeId" th:value="${episode.id}"/>
					<button type="submit" class="btn btn-default" aria-label="Left Align">
					  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
					</button>
				</form>
			</div>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>